In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("Data.csv")

In [103]:
# but just for observation, i'm also gonna do DFs and see if the tutorial can work the same on a DF

X = df[["Country", "Age", "Salary"]]
y = df[["Purchased"]]

In [104]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [105]:
# this way of fit is to go the DF way

imputer.fit(X[["Age", "Salary"]])

SimpleImputer()

In [106]:
# transforming the DF way, curious warning btw

X[["Age", "Salary"]] = imputer.transform(X[["Age", "Salary"]])

/usr/lib/python3/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/rajdeep/.local/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [107]:
# or you know use what you just learned; both things in one step

X[["Age", "Salary"]] = imputer.fit_transform(X[["Age", "Salary"]])

/usr/lib/python3/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/rajdeep/.local/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [108]:
X

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

In [109]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [110]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), ["Country"])], remainder='passthrough')

In [111]:
# it's sad that it makes the df header go away

X = pd.DataFrame(ct.fit_transform(X))

In [112]:
# but i want the headers back; the entire point of using a df so i'll go this extra step

X.columns = ["France", "Germany", "Spain", "Age", "Salary"]

In [113]:
X

   France  Germany  Spain        Age        Salary
0     1.0      0.0    0.0  44.000000  72000.000000
1     0.0      0.0    1.0  27.000000  48000.000000
2     0.0      1.0    0.0  30.000000  54000.000000
3     0.0      0.0    1.0  38.000000  61000.000000
4     0.0      1.0    0.0  40.000000  63777.777778
5     1.0      0.0    0.0  35.000000  58000.000000
6     0.0      0.0    1.0  38.777778  52000.000000
7     1.0      0.0    0.0  48.000000  79000.000000
8     0.0      1.0    0.0  50.000000  83000.000000
9     1.0      0.0    0.0  37.000000  67000.000000

In [114]:
from sklearn.preprocessing import LabelEncoder

In [115]:
y = pd.DataFrame(LabelEncoder().fit_transform(y))

/home/rajdeep/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [116]:
y.columns = ["Purchased"]

In [117]:
y

   Purchased
0          0
1          1
2          0
3          0
4          1
5          1
6          0
7          1
8          0
9          1

In [118]:
from sklearn.model_selection import train_test_split

In [119]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3)

In [120]:
X_train

   France  Germany  Spain        Age   Salary
2     0.0      1.0    0.0  30.000000  54000.0
9     1.0      0.0    0.0  37.000000  67000.0
6     0.0      0.0    1.0  38.777778  52000.0
7     1.0      0.0    0.0  48.000000  79000.0
0     1.0      0.0    0.0  44.000000  72000.0
3     0.0      0.0    1.0  38.000000  61000.0
8     0.0      1.0    0.0  50.000000  83000.0

In [139]:
from sklearn.preprocessing import StandardScaler

In [140]:
X_train[["Age", "Salary"]] = StandardScaler().fit_transform(X_train[["Age", "Salary"]])

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/rajdeep/.local/lib/python3.6/site-packages/pandas/core/frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
/home/rajdeep/.local/lib/python3.6/site-packages/pandas/core/frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [136]:
X_train

   France  Germany  Spain       Age    Salary
2     0.0      1.0    0.0 -1.682674 -1.163447
9     1.0      0.0    0.0 -0.594611  0.012927
6     0.0      0.0    1.0 -0.318277 -1.344428
7     1.0      0.0    0.0  1.115203  1.098811
0     1.0      0.0    0.0  0.493453  0.465379
3     0.0      0.0    1.0 -0.439173 -0.530015
8     0.0      1.0    0.0  1.426078  1.460773

In [142]:
X_test[["Age", "Salary"]] = StandardScaler().fit(X_train[["Age", "Salary"]]).transform(X_test[["Age", "Salary"]])

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/rajdeep/.local/lib/python3.6/site-packages/pandas/core/frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
/home/rajdeep/.local/lib/python3.6/site-packages/pandas/core/frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [138]:
X_test

   France  Germany  Spain       Age    Salary
5     1.0      0.0    0.0  0.186772  0.215937
4     0.0      1.0    0.0  1.120631  1.102415
1     0.0      0.0    1.0 -1.307403 -1.318352