In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
X = dataset[["Age", "EstimatedSalary"]]
y = dataset[["Purchased"]]

In [5]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [14]:
from sklearn.preprocessing import StandardScaler

In [40]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

In [7]:
from sklearn.naive_bayes import GaussianNB

In [37]:
# without feature scaling

y_pred = GaussianNB().fit(X_train, y_train).predict(X_test)

/home/rajdeep/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [41]:
# with feature scaling

y_pred = GaussianNB().fit(X_train, y_train).predict(scaler.transform(X_test))

/home/rajdeep/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [9]:
from sklearn.metrics import confusion_matrix

In [38]:
# without feature scaling

confusion_matrix(y_test, y_pred)

array([[62,  4],
       [ 2, 32]])

In [22]:
from sklearn.metrics import accuracy_score

In [39]:
# without feature scaling

accuracy_score(y_test, y_pred)

0.94

In [42]:
# with feature scaling

confusion_matrix(y_test, y_pred)

array([[62,  4],
       [ 2, 32]])

In [43]:
# without feature scaling

accuracy_score(y_test, y_pred)

0.94